CarajDesktop/Connected Services/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="CreateRentalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CarID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRentalRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRentalRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RentalRequestID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRentalRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCustomer">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCustomerResult" type="tns:ArrayOfCustomerResponseDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomerResponseDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerResponseDto" nillable="true" type="tns:CustomerResponseDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerResponseDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerBirthdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateRentalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRentalRequest" />
  </wsdl:message>
  <wsdl:message name="CreateRentalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRentalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRentalRequestSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRentalRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteRentalRequestSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRentalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCustomer" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServiceSoap">
    <wsdl:operation name="CreateRentalRequest">
      <wsdl:input message="tns:CreateRentalRequestSoapIn" />
      <wsdl:output message="tns:CreateRentalRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRentalRequest">
      <wsdl:input message="tns:DeleteRentalRequestSoapIn" />
      <wsdl:output message="tns:DeleteRentalRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <wsdl:input message="tns:GetAllCustomerSoapIn" />
      <wsdl:output message="tns:GetAllCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServiceSoap" type="tns:CustomerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRentalRequest">
      <soap:operation soapAction="http://tempuri.org/CreateRentalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRentalRequest">
      <soap:operation soapAction="http://tempuri.org/DeleteRentalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServiceSoap12" type="tns:CustomerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRentalRequest">
      <soap12:operation soapAction="http://tempuri.org/CreateRentalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRentalRequest">
      <soap12:operation soapAction="http://tempuri.org/DeleteRentalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="CustomerServiceSoap" binding="tns:CustomerServiceSoap">
      <soap:address location="http://localhost:51655/customerservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServiceSoap12" binding="tns:CustomerServiceSoap12">
      <soap12:address location="http://localhost:51655/customerservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>