CarajDesktop/Connected Services/CarService/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetAvailableCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="first" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="last" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableCarResult" type="tns:ArrayOfCarReturnDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCarReturnDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CarReturnDto" nillable="true" type="tns:CarReturnDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarReturnDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CarID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyVote" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CarBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinDrivingLicenseAge" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="MinCustomerAge" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxKmPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CarKM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirBagCount" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CarTrunkVolume" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="CarSeatCount" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CarPriceForRent" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CarPhotoURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCars">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarsResult" type="tns:ArrayOfCarReturnDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCars">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCarsResult" type="tns:ArrayOfCarReturnDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarResult" type="tns:CarReturnDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CarRequestDto" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CarRequestDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CarBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinDrivingLicenseAge" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="MinCustomerAge" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxKmPerDay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CarKM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirBagCount" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CarTrunkVolume" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="CarSeatCount" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CarPriceForRent" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CarPhotoURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CarRequestDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCarResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableCarSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableCar" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCarSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableCarResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="GetCarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCarsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="GetAllCarsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarSoapIn">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="GetCarSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:message name="AddCarSoapIn">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="AddCarSoapOut">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCar" />
  </wsdl:message>
  <wsdl:message name="UpdateCarSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCarResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="DeleteCarSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:portType name="CarServiceSoap">
    <wsdl:operation name="GetAvailableCar">
      <wsdl:input message="tns:GetAvailableCarSoapIn" />
      <wsdl:output message="tns:GetAvailableCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input message="tns:GetCarsSoapIn" />
      <wsdl:output message="tns:GetCarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input message="tns:GetAllCarsSoapIn" />
      <wsdl:output message="tns:GetAllCarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input message="tns:GetCarSoapIn" />
      <wsdl:output message="tns:GetCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <wsdl:input message="tns:AddCarSoapIn" />
      <wsdl:output message="tns:AddCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <wsdl:input message="tns:UpdateCarSoapIn" />
      <wsdl:output message="tns:UpdateCarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input message="tns:DeleteCarSoapIn" />
      <wsdl:output message="tns:DeleteCarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSoap" type="tns:CarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCar">
      <soap:operation soapAction="http://tempuri.org/GetAvailableCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/GetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarServiceSoap12" type="tns:CarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCar">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap12:operation soapAction="http://tempuri.org/GetCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap12:operation soapAction="http://tempuri.org/GetAllCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap12:operation soapAction="http://tempuri.org/GetCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap12:operation soapAction="http://tempuri.org/UpdateCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap12:operation soapAction="http://tempuri.org/DeleteCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="CarServiceSoap" binding="tns:CarServiceSoap">
      <soap:address location="http://servertemplate-1e7ae441.westeurope.cloudapp.azure.com/CarService.asmx" />
    </wsdl:port>
    <wsdl:port name="CarServiceSoap12" binding="tns:CarServiceSoap12">
      <soap12:address location="http://servertemplate-1e7ae441.westeurope.cloudapp.azure.com/CarService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>