CarajDesktop/Connected Services/CarService/CarService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://servertemplate-1e7ae441.westeurope.cloudapp.azure.com/CarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Caraj.Entities" />
  <xs:element name="GetAvailableCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:dateTime" />
        <xs:element minOccurs="0" name="last" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Caraj.Entities" minOccurs="0" name="GetAvailableCarResult" nillable="true" type="q1:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sayi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>